---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1f66ae404177dba218fe5cbe9cb31a2b\""
    body:
      encoding: UTF-8
      string: "{\"error\":\"Invalid resource release-group.\"}"
  recorded_at: Mon, 10 Mar 2014 12:27:21 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?artist=5b11f4ce-a62d-471e-81fc-a69a8278c7da&fmt=json&inc=&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1788af83c90ff2441e41463606236a37\""
    body:
      encoding: UTF-8
      string: "{\"release-groups\":[{\"disambiguation\":\"\",\"first-release-date\":\"1992-12-14\",\"secondary-types\":[\"Compilation\"],\"id\":\"01cf1391-141b-3c87-8650-45ade6e59070\",\"title\":\"Incesticide\",\"primary-type\":\"Album\"},{\"disambiguation\":\"\",\"first-release-date\":\"1996\",\"secondary-types\":[\"Compilation\"],\"id\":\"04565adb-04f3-32d9-8582-e4c023b0f199\",\"title\":\"Singles\",\"primary-type\":\"Album\"},{\"disambiguation\":\"\",\"first-release-date\":\"1993\",\"secondary-types\":[\"Compilation\"],\"id\":\"178b993e-fa9c-36d3-9d73-c5a8ba0c748d\",\"title\":\"Wipeout\",\"primary-type\":\"Album\"},{\"disambiguation\":\"\",\"first-release-date\":\"1991-09-23\",\"secondary-types\":[],\"id\":\"1b022e01[...]
