---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group/1b022e01-4da6-387b-8658-8678046e4cef?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"786a75c2d8f8db5ad011c337aabbf5c1\""
    body:
      encoding: UTF-8
      string: "{\"disambiguation\":\"\",\"first-release-date\":\"1991-09-23\",\"secondary-types\":[],\"id\":\"1b022e01-4da6-387b-8658-8678046e4cef\",\"title\":\"Nevermind\",\"primary-type\":\"Album\"}"
  recorded_at: Thu, 06 Mar 2014 10:53:02 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group/1b022e01-4da6-387b-8658-8678046e4cef?fmt=json&inc=url-rels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"3ebf7182ada1dffa2936e7b0078d5cfa\""
    body:
      encoding: UTF-8
      string: "{\"disambiguation\":\"\",\"first-release-date\":\"1991-09-23\",\"relations\":[{\"type-id\":\"6578f0e9-1ace-4095-9de8-6e517ddb1ceb\",\"end\":null,\"direction\":\"forward\",\"ended\":false,\"url\":{\"resource\":\"http://en.wikipedia.org/wiki/Nevermind\",\"relations\":[],\"id\":\"2e27935a-ec71-41ea-85e1-6ab4c8982b51\"},\"type\":\"wikipedia\",\"begin\":null,\"attributes\":[]},{\"type-id\":\"156344d3-da8b-40c6-8b10-7b1c22727124\",\"end\":null,\"direction\":\"forward\",\"ended\":false,\"url\":{\"resource\":\"http://lyrics.wikia.com/Nirvana:Nevermind_(1991)\",\"relations\":[],\"id\":\"d72cbb02-81b9-4816-ae72-186ee276ce36\"},\"type\":\"lyrics\",\"begin\":null,\"attributes\":[]},{\"type-id\":\"a50a1d20-2b20-4d2c-9a29-eb771dd78386\",\"end\":null,\"direction\":\"forward\",\"ended\":false,\"url\":{\"resource\":\"http://www.allmusic.com/album/mw0000185616\",\"relations\":[...]
