---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=releasegroup:%22nevermind%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aa04a555f2e126e617dbd0fd6c389f7b"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-05-16T18:55:10.046Z","count":23,"offset":0,"release-groups":[{"id":"1b022e01-4da6-387b-8658-8678046e4cef","score":"100","count":32,"title":"Nevermind","primary-type":"Album","artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"45ee6323-6b11-4487-a66c-4e5d3c453eac","title":"Nevermind","status":"Official"},{"id":"947348c2-7802-3030-a1ba-85bbac99bfe0","title":"Nevermind","status":"Bootleg"},{"id":"b4e87df5-e995-4438-ae42-c8df327f163f","title":"Nevermind","status":"Official"},{"id":"88b363cb-86b2-431f-84b4-525d4aa7aa62","title":"Nevermind","status":"Official"},{"id":"b8ccb9bf-9d3a-4adb-99c3-79ffe9812fb8","title":"Nevermind","status":"Official"},{"id":"14da9257-d8aa-374b-9d9a-59435947afb5","title":"Nevermind","stat[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=artist:%22Nirvana%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e58a3e5e74e406aff6c30541eaae292a"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-05-16T18:55:10.046Z","count":697,"offset":0,"release-groups":[{"id":"60c826fb-8853-3796-8ff2-16c35f362ec9","score":"100","count":1,"title":"B-Side
        Themselves","primary-type":"Album","secondary-types":["Compilation"],"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"ac4bc467-00ac-48c7-af85-3d12837a06dd","title":"B-Side
        Themselves","status":"Bootleg"}],"tags":[{"count":2,"name":"alternative rock"}]},{"id":"fdeebee4-b749-31c4-8a9b-d8d25cd9a43a","score":"100","count":1,"title":"Grunge
        Is Dead","primary-type":"Album","secondary-types":["Compilation"],"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"7dd7f328-db0b-45a3-a2c9-3a0f9869fd1c","title":"Grunge
        Is Dead","status":"Bootleg"}],"tags":[{"count":1,"name":"grunge"}]},{"id":"5d00401a-0166-36c5-9b76-48c270f6378a","score":"100","count":1,"title":"1993-11-18:
        Performance: MTV Unplugged, Sony Studios, New York City, NY, USA","primary-type":"Album","secondary-types":["Live"],"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"899c6c20-3490-4495-81af-2ad9a39d5316","title":"1993-11-18:
        Performance: MTV[...]
[...]
