---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=releasegroup:%22nevermind%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1329ff9d25dad78b5a65d2aad3166865\""
    body:
      encoding: UTF-8
      string: "{\"created\":\"2014-03-06T08:30:56.684Z\",\"count\":23,\"offset\":0,\"release-groups\":[{\"id\":\"1b022e01-4da6-387b-8658-8678046e4cef\",\"score\":\"100\",\"count\":32,\"title\":\"Nevermind\",\"primary-type\":\"Album\",\"artist-credit\":[{\"artist\":{\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"90s
        US grunge band\",\"aliases\":[{\"sort-name\":\"Nirvana US\",\"name\":\"Nirvana
        US\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null}]}}],\"releases\":[{\"id\":\"45ee6323-6b11-4487-a66c-4e5d3c453eac\",\"title\":\"Nevermind\",\"status\":\"Official\"},{\"id\":\"947348c2-7802-3030-a1ba-85bbac99bfe0\",\"title\":\"Nevermind\",\"status\":\"Bootleg\"},{\"id\":\"b4e87df5-e995-4438-ae42-c8df327f163f\",\"title\":\"Nevermind\",\"status\":\"Official\"},{\"id\":\"88b363cb-86b2-431f-84b4-525d4aa7aa62\",\"title\":\"Nevermind\",\"status\":\"Official\"},{\"id\":\"b8ccb9bf-9d3a-4adb-99c3-79ffe9812fb8\",\"title\":\"Nevermind\",\"status\":\"Official\"},{\"id\":\"[...]
[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"3f5e9749258cb6bb87a6b93c15caa485\""
    body:
      encoding: UTF-8
      string: "{\"country\":\"US\",\"ipis\":[],\"area\":{\"disambiguation\":\"\",\"iso_3166_3_codes\":[],\"sort-name\":\"United
        States\",\"name\":\"United States\",\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"iso_3166_2_codes\":[],\"iso_3166_1_codes\":[\"US\"]},\"sort-name\":\"Nirvana\",\"name\":\"Nirvana\",\"disambiguation\":\"90s
        US grunge band\",\"life-span\":{\"ended\":true,\"begin\":\"1988-01\",\"end\":\"1994-04-05\"},\"end_area\":null,\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"type\":\"Group\",\"begin_area\":{\"disambiguation\":\"\",\"iso_3166_3_codes\":[],\"sort-name\":\"Aberdeen\",\"name\":\"Aberdeen\",\"id\":\"a640b45c-c173-49b1-8030-973603e895b5\",\"iso_3166_2_codes\":[],\"iso_3166_1_codes\":[]}}"
  recorded_at: Mon, 10 Mar 2014 12:20:35 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?artist=5b11f4ce-a62d-471e-81fc-a69a8278c7da&fmt=json&inc=&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"1788af83c90ff2441e41463606236a37\""
    body:
      encoding: UTF-8
      string: "{\"release-groups\":[{\"disambiguation\":\"\",\"first-release-date\":\"1992-12-14\",\"secondary-types\":[\"Compilation\"],\"id\":\"01cf1391-141b-3c87-8650-45ade6e59070\",\"title\":\"Incesticide\",\"primary-type\":\"Album\"},{\"disambiguation\":\"\",\"first-release-date\":\"1996\",\"secondary-types\":[\"Compilation\"],\"id\":\"04565adb-04f3-32d9-8582-e4c023b0f199\",\"title\":\"Singles\",\"primary-type\":\"Album\"},{\"disambiguation\":\"\",\"first-release-date\":\"1993\",\"secondary-types\":[\"Compilation\"],\"id\":\"178b993e-fa9c-36d3-9d73-c5a8ba0c748d\",\"title\":\"Wipeout\",\"primary-type\":\"Alb[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=artist:%225b11f4ce-a62d-471e-81fc-a69a8278c7da%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"fdc23f0dcf284ebce5fb13ba50bf23f3\""
    body:
      encoding: UTF-8
      string: "{\"created\":\"2014-03-10T09:12:02.196Z\",\"count\":0,\"offset\":0,\"release-groups\":[]}"
  recorded_at: Mon, 10 Mar 2014 12:26:58 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=artist:%22Nirvana%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"3254a7aba730d13ca78303d8057dd38c\""
    body:
      encoding: UTF-8
      string: "{\"created\":\"2014-03-10T09:12:02.196Z\",\"count\":698,\"offset\":0,\"release-groups\":[{\"id\":\"60c826fb-8853-3796-8ff2-16c35f362ec9\",\"score\":\"100\",\"count\":1,\"title\":\"B-Side
        Themselves\",\"primary-type\":\"Album\",\"secondary-types\":[\"Compilation\"],\"artist-credit\":[{\"artist\":{\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"90s
        US grunge band\",\"aliases\":[{\"sort-name\":\"Nirvana US\",\"name\":\"Nirvana
        US\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null}]}}],\"releases\":[{\"id\":\"ac4bc467-00ac-48c7-af85-3d12837a06dd\",\"title\":\"B-Side
        Themselves\",\"status\":\"Bootleg\"}],\"tags\":[{\"count\":2,\"name\":\"alternative
        rock\"}]},{\"id\":\"fdeebee4-b749-31c4-8a9b-d8d25cd9a43a\",\"score\":\"100\",\"count\":1,\"title\":\"Grunge
        Is Dead\",\"primary-type\":\"Album\",\"secondary-types\":[\"Compilation\"],\"artist-credit\":[{\"artist\":{\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"90s
        US grunge band\",\"aliases\":[{\"sort-name\":\"Nirvana US\",\"name\":\"Nirvana
        US\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null}]}}],\"releases\":[{\"id\":\"7dd7f328-db0b-45a3-a2c9-3a0f9869fd1c\",\"title\":\"Grunge
        Is Dead\",\"status\":\"Bootleg\"}],\"tags\":[{\"count\":1,\"name\":\"grunge\"}]},{\"id\":\"5d00401a-0166-36c5-9b76-48c270f6378a\",\"score\":\"100\",\"count\":1,\"title\":\"1993-11-18:
        Performance: MTV Unplugged, Sony Studios, New York City, NY, USA\",\"primary-type\":\"Album\",\"secondary-types\":[\"Live\"],\"artist-credit\":[{\"artist\":{\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"90s
        US grunge band\",\"aliases\":[{\"sort-name\":\"Nirvana US\",\"name\":\"Nirvana
        US\",\"locale\":null,\"type\":null,\"primary\":null,\"begin-date\":null,\"end-date\":null}]}}],\"releases\":[{\"id\":\"899c6c20-3490-4495-81[...]
