---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3f5e9749258cb6bb87a6b93c15caa485"'
    body:
      encoding: UTF-8
      string: '{"country":"US","ipis":[],"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"United
        States","name":"United States","id":"489ce91b-6658-3307-9877-795b68554c98","iso_3166_2_codes":[],"iso_3166_1_codes":["US"]},"sort-name":"Nirvana","name":"Nirvana","disambiguation":"90s
        US grunge band","life-span":{"ended":true,"begin":"1988-01","end":"1994-04-05"},"end_area":null,"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","type":"Group","begin_area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"Aberdeen","name":"Aberdeen","id":"a640b45c-c173-49b1-8030-973603e895b5","iso_3166_2_codes":[],"iso_3166_1_codes":[]}}'
  recorded_at: Fri, 16 May 2014 22:41:57 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb3f9fbaff8e50d7526335816b755f5d"'
    body:
      encoding: UTF-8
      string: '{"error":"unknown is not a valid inc parameter for the artist resource."}'
  recorded_at: Wed, 18 Jun 2014 20:25:02 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=throttled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c1f2f49d98cc440133703cd4c161f189"'
      X-Rate-Limited:
      - 22.3 22.0 20
    body:
      encoding: UTF-8
      string: '{"error":"Your requests are exceeding the allowable rate limit (22.3,
        limit is 22.0 per 20 seconds). Please see http://wiki.musicbrainz.org/XMLWebService
        for more information."}'
  recorded_at: Wed, 18 Jun 2014 20:28:02 GMT
recorded_with: VCR 2.9.0
