---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release/c1ef70f1-f88d-311f-87d4-b2766d8ca0ae?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bef80057eed3a5e808580d0a6eabc924"'
    body:
      encoding: UTF-8
      string: '{"country":"US","text-representation":{"script":"Latn","language":"eng"},"status":"Official","date":"2004-03-16","cover-art-archive":{"count":1,"front":true,"artwork":true,"back":false,"darkened":false},"barcode":"016861837426","release-events":[{"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"United
        States","name":"United States","id":"489ce91b-6658-3307-9877-795b68554c98","iso_3166_2_codes":[],"iso_3166_1_codes":["US"]},"date":"2004-03-16"}],"packaging":null,"disambiguation":"","id":"c1ef70f1-f88d-311f-87d4-b2766d8ca0ae","title":"A
        Snow Capped Romance","asin":"B00015U6EY","quality":"normal"}'
  recorded_at: Tue, 19 Aug 2014 14:26:34 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release/01234567-0123-0123-0123-012345678901?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75421e5814f8b1c17a20c760d653a9be"'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Tue, 19 Aug 2014 14:26:50 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&query=%22MTV%20Unplugged%20in%20New%20York%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a5d779d4f5946b3d3536305d2e363141"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-08-19T08:45:23.51Z","count":16,"offset":0,"releases":[{"id":"38c769e9-570a-3282-843f-f4dc3d4d156f","score":"100","count":1,"title":"MTV
        Unplugged in New York","status":"Official","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"release-group":{"id":"fb3770f6-83fb-32b7-85c4-1f522a92287e","primary-type":"Album","secondary-types":["Live"]},"date":"2009-06-24","country":"JP","release-events":[{"date":"2009-06-24","area":{"id":"2db42837-c832-3c27-b4a3-08198f75693c","name":"Japan","sort-name":"Japan","iso-3166-1-codes":["JP"]}}],"barcode":"4988005560865","asin":"B001VA11KG","label-info":[{"catalog-number":"UICY-91435","label":{"id":"0fadc2ce-f7de-4e27-bbe6-612b317e716b","name":"Geffen
        Records"}}],"track-count":14,"media":[{"format":"CD","disc-count":42,"track-count":14}]},{"id":"b527f0f7-7735-3c77-add1-09a9e4a20abb","score":"100","count":1,"title":"MTV
        Unplugged in New York","status":"Official","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":nul[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&limit=2&query=%22MTV%20Unplugged%20in%20New%20York%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"34cba073865fb39ec44ef29724e8da9d"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-08-19T08:45:23.51Z","count":16,"offset":0,"[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&query=release:%22Bleach%22%20AND%20rgid:%22f1afec0b-26dd-3db5-9aa1-c91229a74a24%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9f6a00d523c72b68353f2e2316786d52"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-08-19T08:45:23[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&limit=2&query=release:%22Bleach%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f6ab3d5413d4b17a27a8b28cad12dce4"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-08-19T08:45:23.51Z","count":80,"offset":0,"releases":[{"id":"c[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&release-group=6845bbd5-6af9-3bbf-9235-d8beea55da1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fcd69f9fb71cd4b85fc051f00c5d2941"'
    body:
      encoding: UTF-8
      string: '{"release-count":5,"releases":[{"country":"XE","text-representation":{"script":"Latn","language":"eng"},"status":"Official","date":"2003","cover-art-archive":{"count":0,"front":false,"artwork":false,"back":false,"darkened":false},"barcode":null,"release-events":[{"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"Europe","name":"Europe","id":"89a675c2-3e37-3518-b83c-418bad59a85a","iso_3166_2_codes":[],"iso_3166_1_codes":["XE"]},"date":"2003"}],"packaging":null,"disambiguation":"","id":"15afe807-58e8-[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release?fmt=json&inc=&limit=2&release-group=6845bbd5-6af9-3bbf-9235-d8beea55da1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"08022cd307a6c88523c7a2a4f37b90bc"'
    body:
      encoding: UTF-8
      string: '{"release-count":5,"releases":[{"country":"XE","text-re[...]
