---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group/1b022e01-4da6-387b-8658-8678046e4cef?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"786a75c2d8f8db5ad011c337aabbf5c1"'
    body:
      encoding: UTF-8
      string: '{"disambiguation":"","first-release-date":"1991-09-23","secondary-types":[],"id":"1b022e01-4da6-387b-8658-8678046e4cef","title":"Nevermind","primary-type":"Album"}'
  recorded_at: Wed, 23 Jul 2014 11:59:44 GMT
[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group/fb3770f6-83fb-32b7-85c4-1f522a92287e?fmt=json&inc=url-rels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c2ea2d7699bc805f6ba960f7fc1a1819"'
    body:
      encoding: UTF-8
      string: '{"disambiguation":"","first-release-date":"1994-11-01","relations":[{"type-id":"6578f0e9-1ace-4095-9de8-6e517ddb1ceb","attribute-values":{},"end":null,"direction":"forward","ended":false,"url":{"resource":"http://en.wikipedia.org/wiki/MTV_Unplugged_in_New_York","relations":[],"id":"f2986eb1-3666-490d-85d5-fbe7f34c1e5a"},"type":"wikipedia","begin":null,"attributes":[]},{"type-id":"156344d3-da8b-40c6-8b10-7b1c22727124","attribute-values":{},"end":null,"direction":"forward","ended":false,"url":{"resource":"http://lyrics.wikia.com/Nirvana:MTV_Unplugged_In_New_York_(1994)","relations":[],"id":"30f23eb0-e2b5-47b8-a97c-0badceed96b8"},"type":"lyrics","begin":null,"attributes":[]},{"type-id":"38320e40-9f4a-3ae7-8cb2-3f3c9c5d856d","attribute-values":{},"end":null,"direction":"forward","ended":false,"url":{"resource":"http://musicmoz.org/Bands_and_Artists/N/Nirvana/[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group/01234567-0123-0123-0123-012345678901?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75421e5814f8b1c17a20c760d653a9be"'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Wed, 23 Jul 2014 12:15:21 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=MTV%20Unplugged%20in%20New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b70bfe3b563904421067c09fd542795d"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-07-23T06:31:32.814Z","count":43419,"offset":0,"release-groups":[{"id":"fb3770f6-83fb-32b7-85c4-1f522a92287e","score":"100","count":13,"title":"MTV
        Unplugged in New York","primary-type":"Album","secondary-types":["Live"],"artist-credit":[{"artist":{"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","name":"Nirvana","sort-name":"Nirvana","disambiguation":"90s
        US grunge band","aliases":[{"sort-name":"Nirvana US","name":"Nirvana US","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"856045e3-162f-39ef-80ab-0cb13d054b96","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"d59a31a6-8bb4-4f9d-8692-f61025730905","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"846058c1-751f-44dc-8ff4-b801c2b82b4b","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"e5edb300-0df6-4089-87ae-ab4bfd20b66d","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"2ff3be28-f74f-40c9-bdde-c19b6e4384ee","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"38c769e9-570a-3282-843f-f4dc3d4d156f","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"b527f0f7-7735-3c77-add1-09a9e4a20abb","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"924f3fc8-4f4c-337c-bd9b-7b30250cb11d","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"dd5e127c-3046-47f4-b8f5-11cc25716834","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"bc1dec8f-aa31-391c-bae7-5fcd5563a0f0","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"453e5e8d-65ed-4670-b58b-7cb51dd9607d","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"47e459c9-ad7f-4f64-8b2e-1421d9e1e78f","title":"MTV
        Unplugged in New York","status":"Official"},{"id":"34749ba4-c4c7-3354-9619-1b0f88d8222b","title":"MTV
        Unplugged in New York","status":"Official"}],"tags":[{"count":1,"name":"alternative
        pop/rock"},{"count":5,"name":"acoustic"},{"count":1,"name":"1994"},{"count":1,"name":"rock
        and indie"},{"count":6,"name":"grunge"},{"count":2,"name":"alternative/indie
        rock"},{"count":2,"name":"alternative"},{"count":6,"name":"folk rock"},{"count":7,"name":"rock"},{"count":1,"name":"pop/rock"}]},{"id":"f81f334b-69d6-3fc1-87d3-d4d7d19d9cc5","score":"100","count":2,"title":"MTV
        Unplugged in New York","primary-type":"Album","secondary-[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=2&query=MTV%20Unplugged%20in%20New%20YorkNirvana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"94fa5c18aa4f46fb64b2df59c3c27255"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-07-23T06:31:32.814Z","count":43359,"[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?fmt=json&inc=&limit=10&query=artist:%22Nirvana%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4b3837b23d02790e9b2162158da6802"'
    body:
      encoding: UTF-8
      string: '{"created":"2014-07-23T06:31:32.814Z","count":698,"offset":0,"release-gr[...]
