---
http_interactions:
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3f5e9749258cb6bb87a6b93c15caa485"'
    body:
      encoding: UTF-8
      string: '{"country":"US","ipis":[],"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"United
        States","name":"United States","id":"489ce91b-6658-3307-9877-795b68554c98","iso_3166_2_codes":[],"iso_3166_1_codes":["US"]},"sort-name":"Nirvana","name":"Nirvana","disambiguation":"90s
        US grunge band","life-span":{"ended":true,"begin":"1988-01","end":"1994-04-05"},"end_area":null,"id":"5b11f4ce-a62d-471e-81fc-a69a8278c7da","type":"Group","begin_area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"Aberdeen","name":"Aberdeen","id":"a640b45c-c173-49b1-8030-973603e895b5","iso_3166_2_codes":[],"iso_3166_1_codes":[]}}'
  recorded_at: Fri, 16 May 2014 23:34:48 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/release-group?artist=5b11f4ce-a62d-471e-81fc-a69a8278c7da&fmt=json&inc=&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0cbe5f2b4fa67baa53fa3a5ec4c51c49"'
    body:
      encoding: UTF-8
      string: '{"release-groups":[{"disambiguation":"","first-release-date":"1992-12-14","secondary-types":["Compilation"],"id":"01cf1391-141b-3c87-8650-45ade6e59070","title":"Incesticide","primary-type":"Album"},{"disambiguation":"","first-release-date":"1993","secondary-types":["Compilation"],"id":"178b993e-fa9c-36d3-9d73-c5a8ba0c748d","title":"Wipeout","primary-type":"Album"},{"disambiguation":"","first-release-date":"1991-09-23","secondary-types":[],"id":"1b022e01-4da6-387b-8658-8678046e4cef","title":"Nevermind","primary-type":"Album"},{"disambiguation":"","first-release-date":"1993-09-21","secondary-types":[],"id":"2a0981fb-9593-3019-864b-ce934d97a16e","title":"In
        Utero","primary-type":"Album"},{"disambiguation":"","first-release-date":"1992","secondary-types":["Compilation"],"id":"339ab911-1568-32cf-8997-f00a538208c9","title":"Down
        With Me","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"37b1659c-7560-34cd-8946-d6f3c5c9ad92","title":"It''s
        Better to Burn Out Than to Fade Away...","primary-type":"Album"},{"disambiguation":"","first-release-date":"1992","secondary-types":["Compilation"],"id":"3f09f97d-3b18-336c-9760-9ebb7df3497e","title":"Seventh
        Heaven","primary-type":"Album"},{"disambiguation":"","first-release-date":"2003","secondary-types":["Compilation"],"id":"51cb77d2-4722-34e9-b72f-66e3f9fb03f6","title":"Outcesticide
        6: A Mess of Blues","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"584b7e62-d8b5-378e-986c-dfc78e1fc06e","title":"Outcesticide
        II: The Needle & The Damage Done","primary-type":"Album"},{"disambiguation":"","first-release-date":"2002-10-28","secondary-types":["Compilation"],"id":"5ab32af4-c62e-3cbf-aa8c-c761581d3b94","title":"Nirvana","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"5bcaeba6-a532-3fa0-b540-75c09f70f759","title":"The
        Very Best","primary-type":"Album"},{"disambiguation":"","first-release-date":"1995","secondary-types":["Compilation"],"id":"5dba01ed-b4e9-394e-a875-c7c2ff052133","title":"Outcesticide
        III: The Final Solution","primary-type":"Album"},{"disambiguation":"","first-release-date":"1992","secondary-types":["Compilation"],"id":"85155291-222f-388a-a5f7-dcaa60b65afd","title":"Before
        We Ever Minded","primary-type":"Album"},{"disambiguation":"","first-release-date":"2001","secondary-types":["Compilation"],"id":"915dc49e-8203-31b8-bb19-ca5996a2b810","title":"In
        Utero Demos","primary-type":"Album"},{"disambiguation":"","first-release-date":"2001","secondary-types":["Compilation"],"id":"9a198646-ff93-3459-b943-f39da399c270","title":"First
        Live Show","primary-type":"Album"},{"disambiguation":"","first-release-date":"2000-02-14","secondary-types":["Compilation"],"id":"9a3ed295-7823-374e-95fe-c8ce79b6ca2a","title":"Secret
        Songs: The Unreleased Album","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"9f42e883-12a4-3790-b3c1-0e2982f2d832","title":"Outcesticide:
        In Memory of Kurt Cobain","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"bcbe3ddf-7901-315c-8282-f0e9d5b88285","title":"Heart
        Shaped Box, Volume 2","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"c0fdd829-fa5d-4bf0-a227-39979375298d","title":"The
        Eternal Legacy","primary-type":"Album"},{"disambiguation":"","first-release-date":"1996","secondary-types":["Compilation"],"id":"e1aa0917-d84a-36aa-92d1-880d2b994748","title":"Outcesticide
        IV: Rape of the Vaults","primary-type":"Album"},{"disambiguation":"","first-release-date":"1999","secondary-types":["Compilation"],"id":"e602b067-c9eb-31eb-bed0-80e4245d5d54","title":"Dark
        Emotion","primary-type":"Album"},{"disambiguation":"","first-release-date":"1998","secondary-types":["Compilation"],"id":"ee7695bc-fde5-3a84-8ebb-195fa5ee6c2d","title":"Outcesticide
        V: Disintegration","primary-type":"Album"},{"disambiguation":"","first-release-date":"1989-06-01","secondary-types":[],"id":"f1afec0b-26dd-3db5-9aa1-c91229a74a24","title":"Bleach","primary-type":"Album"},{"disambiguation":"","first-release-date":"1994","secondary-types":["Compilation"],"id":"fdeebee4-b749-31c4-8a9b-d8d25cd9a43a","title":"Grunge
        Is Dead","primary-type":"Album"},{"disambiguation":"","first-release-date":"1995","secondary-types":["Compilation"],"id":"ff9dec8b-3674-35a3-aa39-9f9ba3d30b71","title":"Twilight
        of the Gods","primary-type":"Album"}],"release-group-offset":0,"release-group-count":663}'
  recorded_at: Fri, 16 May 2014 23:34:49 GMT
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=artist-rels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fd8a09908c8cd9ce0d4f5cbe3c7516ec"'
    body:
      encoding: UTF-8
      string: '{"country":"US","ipis":[],"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"United
        States","name":"United States","id":"489ce91b-6658-3307-9877-795b68554c98","iso_3166_2_codes":[],"iso_3166_1_codes":["US"]},"relations":[{"type-id":"5be4c609-9afa-4ea0-910b-12ffb71e3821","attribute-values":{},"end":"1993-09","direction":"backward","artist":{"disambiguation":"Guitarist
        with The Exploited, Goodbye Mr. Mackenzie and Nirvana","relations":[],"sort-name":"Duncan,
        John","name":"John Duncan","id":"258e917c-4cf0-4a1a-a07d-dacfe6b93398"},"ended":true,"type":"member
        of band","begin":"1993-07-23","attributes":[]},{"type-id":"5be4c609-9afa-4ea0-910b-12ffb71e3821","attribute-values":{},"end":"1994-01","direction":"backward","artist":{"disambiguation":"","relations":[],"sort-name":"Goldston,
        Lori","name":"Lori Goldston","id":"279575ec-fe30-455f-adb1-7a627a0badba"},"ended":true,"type":"member
        of band","begin":"1993-07-23","attributes":[]},{"type-id":"5be4c609-9afa-4ea0-910b-12ffb71e3821","attribute-values":{},"end":"1990-09-24","direction":"backward","artist":{"disambiguation":"","relatio[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?fmt=json&inc=url-rels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0ab6b3fb7f317efb1a83efc3b2d1ac9a"'
    body:
      encoding: UTF-8
      string: '{"country":"US","ipis":[],"area":{"disambiguation":"","iso_3166_3_codes":[],"sort-name":"United
        States","name":"United States","id":"489ce91b-6658-3307-9877-795b68554c98","iso_3166_2_codes":[],"iso_3166_1_codes":["US"]},"relations":[{"type-id":"e4d73442-3762-45a8-905c-401da65544ed","attribute-values":{},"end":null,"direction":"forward","ended":false,"url":{"resource":"http://decoda.com/nirvana-lyrics","relations":[],"id":"2759d810-5a97-446e-b168-09d2dec389a9"},"type":"lyrics","begin":null,"attributes":[]},{"type-id":"29651736-fa6d-48e4-aadc-a557c6add1cb","attribute-values":{},"end":null,"direction":"forward","ended":false,"url":{"resource":"http://en.wikipedia.org/wiki/Nirvana_(band)","relations":[],"id":"d99c5574-096b-45af-bf20-c3dc3e94fde5"},"type":"wikipedia","begin":null,"attributes":[]},{"type-id":"e4d73442-3762-45a8-905c-401da65544ed","attribute-values[...]
- request:
    method: get
    uri: http://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-123456789abc?fmt=json&inc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75421e5814f8b1c17a20c760d653a9be"'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Fri, 16 May 2014 23:34:53 GMT
recorded_with: VCR 2.9.0
